<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestWinServ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <TestWinServ.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>00:01</value>
            </setting>
            <setting name="FinishTime" serializeAs="String">
                <value>23:59</value>
            </setting>
            <setting name="OWApiID" serializeAs="String">
                <value>79fdc7520615a270da77e9d28779136c</value>
            </setting>
            <setting name="City" serializeAs="String">
                <value>Dallas</value>
            </setting>
            <setting name="Country" serializeAs="String">
                <value>US</value>
            </setting>
            <setting name="Units" serializeAs="String">
                <value>metric</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>https://api.openweathermap.org/data/2.5/weather?q={0},{1}&amp;appid={2}&amp;units={3}</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>C:\OpenWeather\Result.csv</value>
            </setting>
            <setting name="FieldDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
        </TestWinServ.Properties.Settings>
    </applicationSettings>
</configuration>